/* Class for the main image */
.banner-image-attractions-page{
    width: 100%;
    align-content: center;
    margin: auto;
    margin-bottom: 5em;
}

.banner-image-attractions-page img{
    width: 100%;
}

/* Class for coantainer of the image and text of attractions */
.attractions-description{
    display: flex;
    justify-content: center; 
    margin-bottom: 100px;
    margin-top: 100px;
}


/* Class for parent container for the image of each attractions */
.image-attractions-description{
    margin: 5px;
    width: 100%;
    height: 100%;
}

.image-attractions-description img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}


/* Class for parent container for the text of each attractions */

.text-attractions-description{
    margin: 5px;
    width: 50%;
    height: 100%;
}

.text-attractions-description h3 {
    opacity: 900;
}

.text-attractions-description span {   
    color: darkgrey;
}

/* Header - Mobile */
@media screen and (max-width: 900px) {
    .attractions-description {
        flex-direction: column;
    }

    .text-attractions-description {
        width: 100%;
    }

}