.page-title {
    text-align: center;
}

.description {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}


.slide-container {
    overflow: hidden;
    width: 100%;
}
.slide-show  {
    animation: slide-show 12s infinite alternate;
    display: flex;
}

.slide-show img {
    width: 100%;
}

@keyframes slide-show {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-200%);
    }
}


.things-to-do {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    margin-bottom: 100px;
    margin-top: 100px;
}

.things-to-do-element {
    position: relative;
    text-align: center;
    width: 300px;
    height: 100%;
    margin: 10px;
}

.things-to-do-element img {
    position: relative;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 10px;
    transition: all .4s;
}

.things-to-do-element img:hover {
    transform: scale(1.1);
    opacity: 0.6;
}

.card-description {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: 5%;
    transition: .4s;
}

.card-body:hover .card-description {
    opacity: 1;
}

.card-title {
    height: 90px;
}

.things-to-do-card h2 {
    text-align: center;
}


@media screen and (max-width: 900px) {
    .things-to-do {
        flex-direction: column;
    }
}
